/*
!alacritty
!.gitignore
!kitty
!neofetch
!gh-dash
!tridactyl
!nvim
!skhd
!tmux
!yabai
!README.md
!starship.toml
!ghostty
!NvimVscode
!.zshrc
!vimium.txt
tmux/plugins
nvim/spell
nvim/lua/plugins/leetcode.lua
