/*
!.gitignore
!README.md
!sync.sh
!common/
!mac/
!omarchy/

# Ignored patterns inside configs
*.bak
*.bak.*
**/.claude/settings.local.json
**/memo-history.log
**/watch_later
**/tmux/plugins
**/nvim/spell
**/nvim/CLAUDE.md
**/hypr/shaders/
**/package-lock.json

