/*
!alacritty
!.gitignore
!mpv
!kitty
!neofetch
!gh-dash
!yazi
!tridactyl
!lazygit
!nvim
!skhd
!tmux
!yabai
!git
!README.md
!starship.toml
!ghostty
!.zshrc
!.zprofile
!vimium-c.txt
!vimium-c.css
!.ideavimrc
tmux/plugins
nvim/spell
mpv/memo-history.log
mpv/watch_later
nvim/CLAUDE.md
/nvim/lazy-lock.json
